<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebApp.styles.css" asp-append-version="true" />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header> 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a href = "https://www.uwb.edu/" target = "_blank">
                <img class = "UWBLogo" src = "https://www.uwb.edu/uwbothell/media/brand-assets/Logos/stacked-signature/Stacked-Signature-UW-Bothell-9.png"> 
            </a>
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Events</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1"> 

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/TodayEvent">Today's Events</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/MonthlyEvents">Monthly Events</a>
                        </li>

                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container">

            <div class = "Container">

                <p class = "ContactUs" >Contact Us</p>        

                <div class = "Socials">

                    <a href = "https://www.instagram.com/uw_bothell/?hl=en" target="_blank"> <i class="fa-brands fa-instagram"></i> Instagram</a>

                    <a href = "https://twitter.com/UWBothell?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"> <i class="fa-brands fa-twitter"></i> Twitter</a>

                    <a href = "https://discord.gg/ajJppw2U" target="_blank"> <i class="fa-brands fa-discord" ></i> Discord</a>

                    <a href = "https://github.com/clacy360/clacy360.github.io" target = "_blank"> <i class="fa-brands fa-square-github"></i> GitHub</a>

                    <a href = "mailto:uwbcebch@uw.edu?subject=Host an Event&body=Hi there," > <i class="fa-solid fa-envelope"></i> Gmail</a>

                </div>

            </div>

        </div>

        &copy; 2023 - Husky Hacking - <a asp-area="" asp-page="/Privacy">Privacy</a>

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>