@page



@model IndexModel



@{
    ViewData["Title"] = "Home page";
}
<div>


<div>
 <p>
  <img src="https://cdn.discordapp.com/attachments/1103395778342420501/1104499996214165594/UWB_Hacks.jpg" 
  alt="Your image description" 
  style="float: right; margin-left: 10px;"
  width="650" 
  height="600"
  >
</p>   

<div>
    <header>
    <h1>UWB Hacks in Person</h1>
    <header>
<div>  

<div>
    <br>

    <p style="font-weight: bold; font-size: 20px; color: purple;"> When is it?<p>



    <p>Friday, May 5 - Sunday, May 7<p>

  

    <p style="font-weight: bold; font-size: 20px; color: purple;"> What time?<p>

    <p><u><b>Friday, May 5</b></u><p>
      <p>10:00am - 7:30pm</p>

    <p><u><b>Saturday, May 6</b></u><p>
      <p>9:00am - 4:00pm</p>

    <p><u><b>Sunday, May 7</b></u><p>
      <p>10:00am - 2:00pm</p>      

 

    <p style="font-weight: bold; font-size: 20px; color: purple;"> Hybrid or In-Person?<p>

    <p>In-Person event<p>

  

    <p style="font-weight: bold; font-size: 20px; color: purple;"> Where at?<p>



    <p> <a href="https://www.uwb.edu/arc">Activities and Recreation Center<a> (ARC), ARC Overlook 2nd Floor<p>



    <a> <a>




    <p style="font-weight: bold; font-size: 20px; color: purple;"> Description:<p>
    <p>	
ACM Hacks in Person is a great opportunity to showcase your technical and creative skills. Meet mentors and network with industry professionals. Code something useful or fun! Get hands-on experience. Work in a team or solo and develop innovative solutions to a real-world problem.<p>

<br><br>
    <div>


<div>