@page
@model IndexModel
@{
    ViewData["Title"] = "Monthly Events";
}

<style>
a {
    text-decoration:none;
    color:black;
  }

.gold-box {
    display: inline-block;
  }

  h1 {
    color: rgb(51, 0, 111); /* Set the text color to purple */
    font-family: Arial; /* Use Arial or a sans-serif font */
    font-weight: bold;
  }
  
  h2{
    background-color: rgb(232, 211, 162);
    padding: 10px;
    color: black;
    font-family: Arial;
    font-size: 32px;
    text-decoration: none;
    border-radius: 5px;
    border-width: 1px;

  }

  h3{
    color: rgb(145, 123, 76);
    font-family: Arial;
    font-size: 30px;
  }
  p{
    color: black;
    font-family: Arial;
    font-size: 18px;
  }
</style>


<div class="text-center">
    <h1>Events at UWB this month!</h1>
    <h3> MAY 2023</p>
    <hr> <!-- Add a horizontal rule here -->
</div>

<div class="text-center">
<div class="gold-box">
 <h2><a class = "h2" asp-area="" asp-page="/FirstEvent" >UWB Hacks in Person</a></h2>
</div>
    <p> MAY 7, 2023               10:00am </p>
    <p>Activities and Recreation Center </p>
    <p>ACM Hacks in Person is a great opportunity to showcase your technical and creative skills. Meet mentors and network with industry professionals. Code something useful or fun! Get hands-on experience. Work in a team or solo and develop innovative solutions to a real-world problem.

</p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
 <h2><a class = "h2" asp-area="" asp-page="/SecondEvent" >Wellness Fest 2023</a></h2>
 </div>
    <p> MAY 11, 2023               12:30pm </p>
    <p>Activities and Recreation Center </p>
    <p>Join the Health and Wellness Resource Center (HaWRC) for Wellness Fest 2023! There will be activities, presentations, and interactive displays with information about all things wellness. There will also be snacks, and a raffle with the opportunity to win awesome prizes. Don't miss out on the HaWRC's biggest event of the year!</p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
 <h2>Technical Interview Workshops</h2>
 </div>
    <p> MAY 18, 2023               2:30pm </p>
    <p>UW2 </p>
    <p>What is a technical interview and what do you need to be successful? Come learn with Career Services about about the format of technical interviews specific to programming; you will learn what steps can you take to prepare, and what interviewers are generally looking for in a candidate!</p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>Breaking into Tech and Engineering</h2>
</div>
    <p> MAY 18, 2023               3:30pm </p>
    <p>UW1 103 and via Zoom </p>
    <p>Are you interested in a career in tech or engineering? Join us for an informative workshop on breaking into these exciting fields. With the current job market, we’re encouraging our graduating seniors and graduate students to consider companies and industries outside of “Big Tech”. Hear from Sarah Eyster, the STEM Graduate Career Counselor, about what fields and companies are still hiring tech and engineering talent, and how to set yourself apart in this competitive market. Students from all academic levels are encouraged to attend.</p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>Avanade Presents: Mental Health May</h2>
</div>
    <p> MAY 19, 2023               8:00am </p>
    <p>via Zoom</p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>School of STEM 10 Year Celebration</h2>
</div>
    <p> MAY 19, 2023               3:30pm </p>
    <p>UW Bothell North Creek Events Center </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>College Awareness Day</h2>
</div>
    <p> MAY 20, 2023               12:00pm </p>
    <p>Activities and Recreation Center </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
    <div class="gold-box">
<h2>Coffee, Tea & Conversation with Campus Safety</h2>
</div>
    <p> MAY 23, 2023               10:30am </p>
    <p>Codex (outside bookstore) </p>
    <p>Description goes here </p>
    <hr> <!-- Add a horizontal rule here -->
</div>