@page



@model IndexModel



@{
    ViewData["Title"] = "Home page";
}
<div>


<div>


<div>

  <img src="https://cdn.discordapp.com/attachments/1045856926510100510/1104532784841752628/IMG_8245.png" 
  width="300"
  height="300"
  alt="Your image description 3" 
  style="float: right; display: block; margin-bottom: 10px;">
  
  <img src="https://cdn.discordapp.com/attachments/1045856926510100510/1104532784518795384/IMG_8244.png" 
  width="300"
  height="300"
  alt="Your image description 2" 
  style="float: right; display: block; margin-bottom: 10px;">

 <img src="https://cdn.discordapp.com/attachments/1103395778342420501/1104537529111285820/IMG_9678.png" 
  width="300"
  height="300"
  alt="Your image description 1" 
  style="float: right; display: block; margin-bottom: 10px;">

</div>

 

<div>
    <header>
    <h1>Wellness Fest 2023</h1>
    <header>
<div>

<div>
    <br>

    <p style="font-weight: bold; font-size: 20px; color: purple;"> When is it?<p>



    <p>Single  day event on Thursday, May 11<p>

    <p style="font-weight: bold; font-size: 20px; color: purple;"> What time?<p>

    <p>12:30AM - 4:30PM<p>


    <p style="font-weight: bold; font-size: 20px; color: purple;"> Hybrid or In-Person?<p>

    <p>In-Person event<p>

    <p style="font-weight: bold; font-size: 20px; color: purple;"> Where at?<p>



    <p> <a href="https://www.uwb.edu/arc">Activities and Recreation Center<a> (ARC), ARC Overlook 2nd Floor<p>



    <a> <a>

    <p style="font-weight: bold; font-size: 20px; color: purple;"> Description:<p>



    <p>Join the Health and Wellness Resource Center (HaWRC) for Wellness Fest 2023! There will be activities, presentations, and interactive displays with information about all things wellness. There will also be snacks, and a raffle with the opportunity to win awesome prizes. Don't miss out on the HaWRC's biggest event of the year!<p>
    <br><br>
    <div>


<div>





