@page

@model IndexModel

@{

    ViewData["Title"] = "Home page";

}


<style>

h1 {

    color:rgb(51,0,111);

}

h4 {

    color:rgb(105,105,105);

}

a {

    color:black;
    text-decoration:none;

}

.Date{
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    background-color:rgb(232,211,162);

}

a:hover {
    color:blue;
}


</style>



<div class = "Date">

    <h1>Today's Events</h1>

    <h2>May 7th 2023</h2>

</div>



<br>

<div class = "Event">

    <h3><a href="FirstEvent">UWB Hacks in Person</a></h3>

    <h4>10:00am - 2:00pm </h4>

    <h4>Where: <a href="https://www.uwb.edu/arc">ARC Overlook</a></h4>

    <hr>

    

</div>
